front-page.html
<!-- wp:ua-blocks/header /-->

<!-- wp:ua-blocks/banner  -->
<!-- wp:ua-blocks/generic-heading {"text":"\u003cem\u003e\u003cstrong\u003eWelcome!\u003c/strong\u003e\u003c/em\u003e","color":"#ffffff","fontSize":"x-extra-large","fontWeight":"400"} /-->

<!-- wp:heading {"fontSize":"large"} -->
<h2 class="wp-block-heading has-large-font-size">
  We think you'll like it here.
</h2>
<!-- /wp:heading -->

<!-- wp:heading -->
<h2 class="wp-block-heading">
  Why don't you check out the major you're interested in ?
</h2>
<!-- /wp:heading -->

<!-- wp:ua-blocks/custom-button {"text":"Find Your Major.","linkObject":{"url":"/programs","id":31,"title":"About Us","type":"page","kind":"post-type"},"size":"small","backgroundColor":"dark_orange"} /-->
<!-- /wp:ua-blocks/banner -->

<!-- wp:ua-blocks/events-and-blogs /-->

<!-- wp:ua-blocks/slide-show {"align":"full"} -->
<!-- wp:ua-blocks/slide-item {"themeimage":"bus.jpg",} -->
<!-- wp:ua-blocks/generic-heading {"text":"#Slide 1 Placeholder image"} /-->

<!-- wp:ua-blocks/custom-button {"text":"Learn more","size":"small","backgroundColor":"dark_orange"} /-->
<!-- /wp:ua-blocks/slide-item -->

<!-- wp:ua-blocks/slide-item {"themeimage":"apples.jpg"} -->
<!-- wp:heading -->
<h2 class="wp-block-heading">#Slide 2 Place holder</h2>
<!-- /wp:heading -->

<!-- wp:ua-blocks/custom-button {"size":"small","backgroundColor":"dark_orange"} /-->
<!-- /wp:ua-blocks/slide-item -->
<!-- /wp:ua-blocks/slide-show -->

<!-- wp:ua-blocks/footer /-->
